/* Custom CSS for flip card effect */
.perspective-container {
    perspective: 1000px;
    /* Control the depth effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    backface-visibility: hidden;
    /* Hide the back of the card when facing away */
    transition: transform 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-card-back {
    transform: rotateY(180deg);
    /* Initial rotation for the back */
}